@font-face {
  font-family: "norse-bold";
  src: url(./assets/Norse-Bold.otf), system-ui;
  font-weight: bold;
}

:root {
  --aside-width: 35vw;
  --main-background-color: #f9fafb;
  --main-width: 65vw;
  --main-left-padding: 2rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--main-background-color);
}

aside {
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url(./assets/rainforest-fern.jpg);
  background-size: cover;
  width: var(--aside-width);
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
}

aside > p,
a:visited {
  font-size: calc(1rem * 0.7);
  position: absolute;
  bottom: 0;
  color: white;
  text-decoration: white;
  padding-bottom: 16px;
}

.logo-container > p {
  font-family: "norse-bold";
  color: white;
  font-size: calc(var(--aside-width) / 4);
}

img[src="./assets/odin-lined.png"] {
  width: calc(var(--aside-width) / 4);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--main-width);
  row-gap: 2rem;
  background-color: var(--main-background-color);
}

main > div {
  font-weight: 600;
  line-height: 1.5;
  max-width: 60ch;
}

.main-hero-text, .main-bottom-content {
  padding-left: var(--main-left-padding);
}

form {
  background-color: white;
}
