@font-face {
  font-family: "norse-bold";
  src: url(./assets/Norse-Bold.otf), system-ui;
  font-weight: bold;
}

:root {
  /* --aside-width: 35vw; */
  --main-background-color: #f9fafb;
  /* --main-width: 65vw; */
  --main-left-padding: 2rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.3em;
}

body {
  display: flex;
  background-color: var(--main-background-color);
}

aside {
  display: flex;
  flex: 0 0 35%;
  justify-content: center;
  position: relative;
  background-image: url(./assets/rainforest-fern.jpg);
  background-size: cover;
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

aside > p,
a:visited {
  font-size: calc(1rem * 0.7);
  position: absolute;
  bottom: 0;
  color: white;
  text-decoration: white;
  padding-bottom: 16px;
}

.logo-container > p {
  font-family: "norse-bold";
  color: white;
  font-size: 3.5rem;
}

img[src="./assets/odin-lined.png"] {
  width: 3.5rem;
}

main {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  background-color: var(--main-background-color);
}

main > div {
  font-weight: 600;
  line-height: 1.5;
  max-width: 58ch;
}

.main-hero-text, .main-bottom-content {
  padding-left: var(--main-left-padding);
}

form {
  background-color: white;
}

fieldset {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  border: none;
  width: 100%;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 20%);
  padding-left: var(--main-left-padding);
  margin-bottom: 2rem;
}

fieldset > h2 {
  width: 100%;
}

input {
  width: 100%;
  max-width: 300px;
}

input:user-invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid rgb(0, 81, 255);
  border-color: rgb(0, 81, 255);
  box-shadow: rgb(0, 81, 255) 0px 0px 4px;
}

.form-group-row {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  width: 100%;
}

button {
  font-weight: bold;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius:5px;
  height: 2rem;
  padding: 0 3em;
  margin-bottom: 1.5rem;
}

a, a:visited {
  text-decoration: none;
  color: #596D48;
}

@media screen and (max-width: 620px) {
  .form-group-row {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
